* {
  box-sizing: border-box;
}

body {
  font-family: Garamond, Georgia, Cambria, serif, ui-serif, "Times New Roman", Times;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  font-size: 16px;
  margin: 0 0 6px;
}
